<div class="card text-center mr-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Search Engine</h5>
    <a href="http://www.google.com" class="btn btn-primary">Launch App</a>
  </div>
</div>