<nav class="navbar navbar-expand-lg navbar-light bg-light mr-auto">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <a href="/" class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</a>
    </form>
    <form class="form-inline my-2 my-lg-0 ml-auto mr-3">
      <a href="/users" class="btn btn-outline-success my-2 my-sm-0" type="submit">Account</a>
    </form>
    <form class="form-inline my-2 my-lg-0 mr-3">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Application</button>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Remove Application</button>
    </form>
  </div>
</nav>