<div class="card text-center mr-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">UW homepage</h5>
    <a href="http://www.wisc.edu" class="btn btn-primary">Launch App</a>
  </div>
</div>